<h1>フォロー一覧</h1>
<p>Find me in app/views/users/follows.html.erb</p>

<div class="profile-box">
  <div class="row">
    <div class="col-xs-3">
      <p class="image"><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.png", size:'220x220' %></p>
        <% if current_user != @user %>
          <% if @user.followed_by?(current_user) %>
            <p class="follow"><%=link_to "フォロー済み", user_relationships_path(@user.id), class: "btn btn-primary", method: :delete %>
          <% else %>
            <p class="follow"><%=link_to "フォローする", user_relationships_path(@user.id), class: "btn btn-primary", method: :post %>
          <% end %>
        <% else %>
            <p class="user-edit"><%= link_to "プロフィールを変更", edit_user_path, class: "btn btn-primary" %></p>
        <% end %>
    </div>
    <div class="user-information">
      <div class="col-xs-9">
        <p class="user-name"><%= @user.user_name %></p><br>
        <p class="user_introduction"><%= @user.introduction %></p>
      </div>
    </div>
  </div>
</div>

<div>
  <% @users.each do |user| %>
    <hr>
    <p><span>email: </span><%= link_to user.first_name, user_path(user.id) %></p>
      <% if current_user != user %>
          <% if user.followed_by?(current_user) %>
              <p><%=link_to "フォローを解除する", user_relationships_path(user.id), method: :delete %></p>
          <% else %>
              <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
          <% end %>
      <% end %>
  <% end %>
</div>