<br>
<div class="profile-box">
  <div class="row">
    <div class="col-xs-3">
      <p class="image">
        <%= link_to user_path(@user.id) do%>
        <% if @user.profile_image_id.nil? %>
          <%= image_tag "https://dmmpostimages.s3.ap-northeast-1.amazonaws.com/no_image.png",:size =>'220x220' %>
        <% else %>
          <%= image_tag "https://dmmpostimages.s3.ap-northeast-1.amazonaws.com/store/#{@user.profile_image_id}",:size =>'220x220' %>
        <% end %>
        <% end %>
      </p>
      <% if user_signed_in? %>
        <% if current_user != @user %>
          <% if @user.followed_by?(current_user) %>
            <p class="follow"><%=link_to "フォロー済み", user_relationships_path(@user.id), class: "btn btn-primary", method: :delete %>
          <% else %>
            <p class="follow"><%=link_to "フォローする", user_relationships_path(@user.id), class: "btn btn-primary", method: :post %>
          <% end %>
        <% else %>
            <p class="user-edit"><%= link_to "プロフィールを変更", edit_user_path, class: "btn btn-primary" %></p>
        <% end %>
      <% end %>
    </div>
    <div class="user-information">
      <div class="col-xs-9">
        <p class="user-name"><%= @user.user_name %></p><br>
        <p class="user_introduction"><%= @user.introduction %></p>
      </div>
    </div>
  </div>
</div>

<h3>フォロワー一覧</h3>
<div>
  <% @users.each do |user| %>
    <hr>
    <p>
      <span class="image">
        <% if user.profile_image_id.nil? %>
          <%= image_tag "https://dmmpostimages.s3.ap-northeast-1.amazonaws.com/no_image.png",:size =>'40x40' %>
        <% else %>
          <%= image_tag "https://dmmpostimages.s3.ap-northeast-1.amazonaws.com/store/#{user.profile_image_id}",:size =>'40x40' %>
        <% end %>
      </span>
      <%= link_to user.user_name, user_path(user.id) %>
      <% if user_signed_in? %>
        <% if current_user != user %>
            <% if user.followed_by?(current_user) %>
                <span> /<%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete %></span>
            <% else %>
                <span> /<%=link_to "フォローする", user_relationships_path(user.id), method: :post %></span>
            <% end %>
        <% end %> 
      <% end %>
    </p>
  <% end %>
</div>