<!-- おすすめユーザー -->
<div class="top-box">
  <div class="row">
    <div class="col-xs-5">
      <div class="side-box">
        <p class="side-title">おすすめユーザー</p>
        <% @famous_users.each do |famous_user|%>
          <p class="user-profile">
            <%= attachment_image_tag famous_user, :profile_image, :fill, 100, 100, fallback: "no_image.png", size:'30x30' %>
            <%=link_to famous_user.user_name, user_path(famous_user) %>
          </p>
        <% end %>
      </div>
      <!-- 季節 -->
      <p class="side-title">季節で探す</p>
      <ul class="list-group">
        <li class= "season-items"><%= link_to "春", homes_search_season_path(season: 'spring') %></li>
        <li class= "season-items"><%= link_to "夏", homes_search_season_path(season: 'summer') %></li>
        <li class= "season-items"><%= link_to "秋", homes_search_season_path(season: 'autumn') %></li>
        <li class= "season-items"><%= link_to "冬", homes_search_season_path(season: 'winter') %></li>
      </ul>

      <p class="side-title">カテゴリーで探す</p>
      <ul class="list-group">
        <li class= "category-items"><%= link_to "t shirt", homes_search_category_path(category: 't_shirt') %></li>
        <li class= "category-items"><%= link_to "shirt", homes_search_category_path(category: 'shirt') %></li>
        <li class= "category-items"><%= link_to "jacket", homes_search_category_path(category: 'jacket') %></li>
        <li class= "category-items"><%= link_to "knit", homes_search_category_path(category: 'knit') %></li>
        <li class= "category-items"><%= link_to "coat", homes_search_category_path(category: 'coat') %></li>
        <li class= "category-items"><%= link_to "denim", homes_search_category_path(category: 'denim') %></li>
        <li class= "category-items"><%= link_to "other", homes_search_category_path(category: 'other') %></li>
      </ul>
    </div>
    <div class="col-xs-7">
      <div class="row">
        <h2>コーディネイト</h2>
        <% @post_images.each do |post_image| %>
          <div class="col-xs-4">
            <p class="top-images">
              <%= link_to post_image_path(post_image.id) do %>
              <%= attachment_image_tag post_image, :image, :fill, 100, 100, fallback: "no_image.png", size:'190x190' %>
              <% end %>
            </p>
          </div>
        <% end %>
        <%= paginate @post_images %>
      </div>
    </div>
  </div>
</div>