<h3>コーディネイト編集</h3>

<%= form_for(@post_image) do |f| %>
	<div class="image-edit">
		<%= f.label :"プロフィール画像" %>
		<%= f.attachment_field :image, placeholder: "コーディネイト画像", class: "image-edit-form" %>
	</div>
	<div class="image-edit">
		<%= f.label :"コーディネイト名" %>
		<%= f.text_field :code_name, autofocus: true %>
	</div>
	<div class="image-edit">
		<%= f.label :"コーディネイトテーマ" %>
		<%= f.text_field :code_thema %>
	</div>
	<div class="image-edit">
		<%= f.label :"コーディネイト説明" %>
		<%= f.text_field :code_explain %>
	</div>
	<div class="image-edit">
		<%= f.label :"カテゴリー" %>
		<%= f.select :genres_id, {'tシャツ': 'tシャツ', 'シャツ': 'シャツ', 'パーカ': 'パーカー', 'コート': 'コート'}, { include_blank: '選択してください'}, {required: true } %>
	</div>
	<div class="image-edit">
		<%= f.label :"季節" %>
		<%= f.select :season, {'春': '春', '夏': '夏', '秋': '秋', '冬': '冬'}, { include_blank: '選択してください'}, {required: true } %>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<%= f.submit "変更を保存する" ,class: 'btn btn-primary' %>
		</div>
		<div class="col-xs-2">
			<%= link_to "削除", post_image_path(@post_image), method: :delete, class: 'btn btn-danger' %>
		</div>
	</div>
<% end %>