<!DOCTYPE html>
<html>
  <head>
    <title>Ufaen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <div class="header-content">
          <%= link_to 'ufaen', root_path, class: "logo-user" %>
          <%= link_to 'マイページ', user_path(current_user.id) %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </div>
      </header>
    <% else %>
      <header>
        <div class="header-content">
          <%= link_to 'ufaen', root_path, class: "logo" %>
          <%= link_to 'ログイン', new_user_session_path %>/
          <%= link_to '新規会員登録', new_user_registration_path %>
        </div>
      </header>
    <% end %>

    <main>
      <div class="container">
      <%= yield %>
      </div>
    </main>

    <footer>ufaen</footer>
  </body>
</html>

